<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("LOGIN PAGE", "Index", "Home")</li>
                    <li>@Html.ActionLink("ADMIN PAGE", "AdminPage", "Home")</li>
                    <li>@Html.ActionLink("WRITE PAGE", "WritePage", "Home")</li>
                    <li>@Html.ActionLink("READ PAGE", "ReadPage", "Home")</li>
                    <li>@Html.ActionLink("FREE PAGE", "FreePage", "Home")</li>
                    <li>@Html.ActionLink("MOCK PAGE", "MockPage", "Home")</li>
                    <li>@Html.ActionLink("PUBLISH PAGE", "PublishPage", "Home")</li>
                    <li>@Html.ActionLink("CONSUMER PAGE", "ConsumerPage", "Home")</li>
                    <li>@Html.ActionLink("PARALLEL PAGE", "ParallelPage", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
